.header-container {
  height: 100vh;
}

.navbar {
  transition: all 0.3s;
}

.navbar .nav-link {
  color: black;
  font-weight: 500;
}

.bg {
  background: rgb(0, 0, 0);
}

.banner {
  height: 100vh;
}

.banner .btn {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 50px;
}

.navbar .btn {
  border-radius: 50px;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
  .banner p {
    font-size: 0.9rem;
  }
  .banner .btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
  }
  .header-container {
    height: 500px;
  }
  .header-container::after {
    height: 500px;
    width: 360px;

    background-size: contain;
  }
  .banner {
    height: 500px;
    margin-top: 80px;
  }
}
